body {
    background-color: azure;
}

span {
    color:crimson;
    font-size: 25px;
    font-family: cursive;
}
div {
    padding: 20px;
    background-color: beige;
    display: inline-block;
    border: solid black 2px;
    font-size: 20px;
}
